<div class="partner py-5">
  <div class="d-block d-md-flex justify-content-center align-items-center text-center">
    <span class="d-block">{{ 'Interested in becoming a content partner?'|t }}</span>

    <div class="find ms-md-5 mt-4 mt-md-0">
      <a href="#">{{ 'Find out more'|t }}</a>
    </div>
  </div>
</div>
