{% include '@components/_header_search.twig' %}

<main class="page">

  <div class="container">

    <h2 class="text-center mt-5">{{ 'Login' }}</h2>

    {{ page.content }}

  </div>

</main>

{% include '@components/_partner.twig' %}
{% include '@components/_footer.twig' %}
