{% include '@components/_header_search.twig' %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<main class="page--node">

  <div class="d-none d-md-block">
    {{ page.socials }}
  </div>

  <div class="content">
    {{ page.content }}
  </div>

  {{ page.related_article }}

</main>

{% include '@components/_partner.twig' %}
{% include '@components/_footer.twig' %}
