{% include '@components/_header_search.twig' %}

<main class="page--node">

  <div class="d-none d-md-block">
    {{ page.socials }}
  </div>

  {{ page.content }}

  {{ page.related_article }}

</main>

{% include '@components/_partner.twig' %}
{% include '@components/_footer.twig' %}
