{% include '@components/_header_search.twig' %}

<main class="page">

  <div class="container">

    {{ page.content }}

  </div>

</main>

{% include '@components/_partner.twig' %}
{% include '@components/_footer.twig' %}
