{% include '@components/_header_search.twig' %}

<main class="page--page py-5 page--page--about-us-v1">

  <div class="d-none d-md-block">
    {{ page.socials }}
  </div>

  <div class="container">

    {{ page.content }}

{#    Data dummy#}

{#    <div class="row align-items-center g-3 g-md-4 g-xl-5">#}
{#      <div class="col-12">#}
{#        <h1>About us</h1>#}
{#      </div>#}

{#      <div class="col-md-6 d-block d-md-none">#}

{#        <p class="text-center text-md-start">#}
{#          The Australian Digital Health Agency (the Agency) is a corporate Commonwealth entity established by the Public Governance, Performance and Accountability (Establishing the Australian Digital Health Agency) Rule 2016.#}
{#        </p>#}

{#      </div>#}

{#      <div class="col-md-6">#}

{#        <img width="100%" src="/themes/digital/image/image1.png">#}

{#      </div>#}

{#      <div class="col-md-6 d-none d-md-block">#}

{#        <p class="text-center text-md-start">#}
{#          The Australian Digital Health Agency (the Agency) is a corporate Commonwealth entity established by the Public Governance, Performance and Accountability (Establishing the Australian Digital Health Agency) Rule 2016.#}
{#        </p>#}

{#      </div>#}



{#      <div class="col-md-6">#}

{#        <p class="text-center text-md-end">#}
{#          The Australian Digital Health Agency (the Agency) is a corporate Commonwealth entity established by the Public Governance, Performance and Accountability (Establishing the Australian Digital Health Agency) Rule 2016.#}
{#        </p>#}

{#      </div>#}

{#      <div class="col-md-6">#}

{#        <img width="100%" src="/themes/digital/image/image2.png">#}

{#      </div>#}

{#    </div>#}

  </div>


</main>

{% include '@components/_footer.twig' %}
