{% include '@components/_header_search.twig' %}

<main class="page--page py-5">

  <div class="d-none d-md-block">
    {{ page.socials }}
  </div>

  <div class="container">

    {{ page.content }}

  </div>

</main>

{% include '@components/_partner.twig' %}
{% include '@components/_footer.twig' %}
