.page--front {

  .content {
    background-color: #E6E6E6;
    min-height: 100vh;

    .banner {
      max-width: 700px;
      margin: auto;

      h2 {
        color: #005BA6;
      }
    }

    .box-search {
      .filter {
        display: flex;
        overflow: auto;


        /* width */
        &::-webkit-scrollbar {
          height: 20px;
        }

        a {
          color: #fff;
          font-size: 14px;
          min-width: 140px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          transition: 0.3s ease-in-out;

          &:hover, &.active {
            border-radius: 30px;
          }

          &.all {
            background-color: #fff;
            color: #005BA6;
            border: 1px solid #005BA6;
          }

          &.technology {
            background-color: #EF4123;
          }

          &.business {
            background-color: #005826;
          }

          &.lifestyle {
            background-color: #8DC63F;
          }

          &.features {
            background-color: #25ABE0;
          }
        }
      }

      .search {
        height: 40px;
        border: 1px solid #005BA6;
        position: relative;
        img {
          position: absolute;
          left: 5px;
          top: 0;
          bottom: 0;
          height: 100%;
        }
        input {
          border: none;
          display: flex;
          outline: none !important;
          height: 100%;
          color: #005BA6;
          padding-left: 30px;
          padding-right: 10px;
          text-align: end;
          max-width: 178px;
          &::placeholder {
            color: #005BA6;
            font-weight: 600;
          }
        }
      }

      .list-social {
        display: flex;
        .item {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-radius: 50%;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }

    }

    .load-more {
      background-color: #005BA6;
      padding: 15px 30px;
      color: #fff;
      text-decoration: none;
      border: 1px solid #005BA6;
      font-weight: 500;
      &:hover {
        background-color: transparent;
        color: #005BA6;
      }
    }
  }

  .latest {

    .see-latest {
      color: #005BA6;


      @include media-breakpoint-up(md) {
        background-color: #E6E6E6;
        font-weight: bold;
      }
    }

    .title {
      color: #005BA6;
    }

  }

  .view-content-page-category {
      .item-list {
        display: none;
      }
    .feed-icon {
      display: none;
    }
  }
}
