.page--node {

  .go-back {
    background-color: #E6E6E6;

     a {
       text-decoration: none;
       color: #1E4D76;

     }
  }

  .content {
    p {
      img {
        width: 100%;
        height: auto;
        @include media-breakpoint-up(md) {
          width: auto;
          height: auto;
        }
      }
    }
  }

  .date {
    color: #393939;
  }

  h1 {
    color: #005BA6;
  }

  .author {
    color: #005BA6;
  }

  .avatar {
    border-radius: 0;
    border-right: 20px solid #EF4123;
    border-bottom: 20px solid #EF4123;
    border-left: none;
    border-top: none;

    &.technology {
      border-color: #EF4123;
    }

    &.business {
      border-color: #005826;
    }

    &.lifestyle {
      border-color: #8DC63F;
    }

    &.features {
      border-color: #25ABE0;
    }
  }


  .category {
    background-color: #EF4123;
    padding: 10px 30px;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }

    &.technology {
      background-color: #EF4123;
    }

    &.business {
      background-color: #005826;
    }

    &.lifestyle {
      background-color: #8DC63F;
    }

    &.features {
      background-color: #25ABE0;
    }

  }

  .share {
    a {
      display: block;
      background-color: #005BA6;
      padding: 10px 40px;
      text-decoration: none;
      color: #fff;
      font-weight: 500;
    }
  }

  .count-share {
    font-weight: 500;
  }

  .related {
    background-color: #E6E6E6;

    .title {
      font-weight: 700;
      color: #005BA6;
    }
  }

  .list-social {
    background-color: #005BA6;
    flex-direction: column;
    width: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 470px;
  }

  .modal-social-node {

    .btn-close {
      background: url("/themes/digital/image/icons/close-white.svg") center/1em auto no-repeat;
    }

    .modal-content {
      border-radius: 0;
      background-color: #005BA6;
      color: #fff;

      .modal-header {
        border: none;
        padding: 30px 30px 10px 30px;
        div {
          cursor: pointer;
        }
      }

      .modal-body {
        padding: 16px 16px 60px 16px;
        min-height: 450px;

        h2 {
          font-size: 18px;

          @include media-breakpoint-up(md) {
            font-size: 30px;
          }
        }

      }
    }

  }

  .list-social-node {
    margin-top: auto;
    display: flex;
    gap: 16px;
    .item {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;

      @include media-breakpoint-up(md) {
        width: 70px;
        height: 70px;
      }

      img {
        width: 18px;
        height: 18px;

        @include media-breakpoint-up(md) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

}
