.user-login-form {
  width: 400px;
  margin: auto;
  padding: 20px;
  height: 600px;

  label {
    color: #000;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    outline: none !important;
    box-shadow: none;
    border-radius: 4px;
    padding: 0 10px;
    border: 1px solid #000;
    color: #000;
  }

  .form-submit {
    background-color: #005BA6;
    color: #fff
  }
}
