.page--page {
  .list-social {
    background-color: #005BA6;
    flex-direction: column;
    width: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 470px;
  }
}



.web-form-contact {
  max-width: 946px;
  margin: auto;

  #edit-flexbox-01 {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-top: 50px;
      margin-bottom: 60px;
      align-items: end;
    }
  }

  .captcha {
    .captcha__title {
      display: none;
    }
    .captcha__description {
      display: none;
    }
    .description, .reload-captcha-wrapper {
      display: none;
    }

    .captcha__element {
      display: flex;
      align-items: end;
      img {
        margin: 0;
      }
    }
  }

  h1 {
      color: #005BA6;
      text-align: center;
  }

  .slogan {
    color: #393939;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .js-form-item {
    margin-bottom: 15px;
  }

  .webform-flexbox {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    font-weight: 600;
  }
  select, input {

    height:  50px;
    border: 3px solid #005BA6 !important;

    border-radius: 0;
    width: 100%;
    padding: 10px;
    outline: none;
    box-shadow: none !important;

  }

  textarea {
    height:  250px;
    border: 3px solid #005BA6;
    border-radius: 0;
    width: 100%;
    outline: none;
    box-shadow: none;
  }

  #edit-actions {


    input {
      background-color: #005BA6;
      color: #fff;
      width: 200px;
    }

  }

}
