body {
  font-family: "Inter", sans-serif;
}

.list-social {
  display: flex;
  .item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
  }
}

.card {
  border-radius: 0;
  border-right: 20px solid #EF4123;
  border-bottom: 20px solid #EF4123;
  border-left: none;
  border-top: none;

  &.technology {
    border-color: #EF4123;
    .card-body {
      border-left: 1px solid #EF4123;
    }
  }

  &.business {
    border-color: #005826;
    .card-body {
      border-left: 1px solid #005826;
    }
  }

  &.lifestyle {
    border-color: #8DC63F;
    .card-body {
      border-left: 1px solid #8DC63F;
    }
  }

  &.features {
    border-color: #25ABE0;
    .card-body {
      border-left: 1px solid #25ABE0;
    }
  }

  .card-img-top {
    border-radius: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .date {
    color: #393939;
    font-size: 13px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-meta {
    span {
      font-size: 12px;
      color: #393939;
      a {
        color: #393939;
      }
    }

    .category {
      font-size: 13px;
      border: 2px solid #000;
      padding: 5px 20px;
      color: #000;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.load-more {
  transition: 0.3s ease-in-out;
}
