<div class="list-social d-flex gap-1 gap-md-2 justify-content-center">

  {% for i in items %}
    <a href="{{ i.url }}" class="item {{ i.title|lower }}">
      <img alt="" height="15px" src="/{{ directory }}/image/icons/{{ i.title|lower }}-blue.svg"/>
    </a>
  {% endfor %}

</div>
