<div class="list-social d-flex gap-1 gap-md-2 justify-content-center">

  {% for i in items %}
    <a href="{{ i.url }}" class="item">
      <img alt="" width="15px" src="/{{ directory }}/image/icons/facebook-blue.svg"/>
    </a>
  {% endfor %}

</div>
