<ul class="menu-topic">

  {% for i in items %}
    <li class="list-unstyled">
      <a class="text-decoration-none {{ url_parameters['category']|lower == i.title|lower ? 'active' : '' }}" href="{{ i.url }}">{{ i.title }}</a>
    </li>
  {% endfor %}

</ul>

