{% set items = [] %}


<div class="related py-5">

  <div class="container">

    <h2 class="text-center title mb-5">{{ 'Related articles'|t }}</h2>

    <div class="list-item">
      {% set rows = content['view_build']['#view'].result %}

      {% if rows %}

        {% for item in content['view_build']['#view'].result %}
          {% set row = {
            "link_url": path('entity.node.canonical', {'node': item._entity.nid.value}),
            "title": item._entity.title.value,
            "description": item._entity.body.summary ?? item._entity.body.value|striptags,
            "img_src": item._entity.field_image.entity.uri.url,
            "date": item._entity.changed.value|date("d M Y"),
            "category": item._entity.field_category.entity.name.value,
            "author": item._entity.uid.entity.name.value,
            "link_user": "/user-info/" ~ item._entity.uid.0.target_id
          } %}

          {% include '@components/card/card.twig' with {
            "data": row
          } %}

        {% endfor %}

      {% endif %}


    </div>

  </div>

</div>


{% set catch_cache = content|render %}
